canvas {
  border: 1px solid #000;
  cursor: crosshair;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.tools{
  width: 100%;
 
}
#reset{
  height: 50px;
  width: 100px;
  text-transform: uppercase;
  cursor: pointer;
}
.container-color{
 
  display: flex;
}
.color-square1{
  width: 50px;
  height: 50px;
  background-color: blue;
  cursor: pointer;
}
.color-square2{
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: green;
}
.color-square3{
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: red;
}
